.post{
        border: 2px solid rgb(96 139 168);
        border-radius: 5px;
        background-color: rgb(96 139 168 / 0.2);
        background: linear-gradient(
        to left,
        #e683e699,
        rgba(140, 220, 228, 0.6)
    );
        text-align: left;
        display: block;
        flex-direction: column;
        justify-content: left;
        align-items: left;
}