form{
        width: 500px;
        height: 300px;
        border: 2px solid black;
        margin: 20px;
        background: rgb(230, 106, 247);
        box-shadow: 10px 10px 10px 0px rgba(142, 140, 140, 0.2);
        overflow: hidden;
        border-radius: 10px;
}
label{
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    text-align: center;
    margin-left: 20px;
}
input{
    width: 400px;
    height: 40px;
    display: flex;
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input:hover{
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
}   

button{
    width: 100px;
    height: 40px;
    display: flex-box;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: large;
    background: rgb(59, 53, 229);
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}